@import "../../styles/global";

@include keyframes(loadbar){
  0%{
    width: 0%;
  }
  90%{
    width: 100%;
    opacity: 1;
  }
  100%{
    width: 100%;
    opacity: 0;
  }
}
@include keyframes(loadtop){
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%);
  }
}
@include keyframes(loadbottom){
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(100%);
  }
}
.loadscreen{
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  .loadscreen-top, .loadscreen-bottom{
    width: 100%;
    height: 50vh;
    position: relative;
    background: $key1
  }
  .loadscreen-bar{
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
  }
  .loadscreen-top .loadscreen-bar{
    bottom: 0
  }
  .loadscreen-bottom .loadscreen-bar{
    top: 0
  }

}
.loaddone{
  .loadscreen-bar{
    animation: loadbar 2.5s ease-in-out forwards;
  }
  .loadscreen-top{
    animation: loadtop 0.5s ease-in-out 2.25s forwards;
  }
  .loadscreen-bottom{
    animation: loadbottom 0.5s ease-in-out 2.25s forwards;
  }
}
