@import "../../styles/global";
nav{
  @extend .clipRight;
  animation: clipRight 0.35s ease-in-out 5.75s forwards;
  position: fixed;
  left: 3vh;
  top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  a{
    color: $text2!important;
    font-size: 0.9rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Ubuntu Mono';
    transition: all 0.2s;
    margin-top: 30px;
    &:hover{
      color: $key1!important;
    }
  }
  .topLine{
    width: 1px;
    height: 15vh;
    background-color: $text2;
  }
}
@include keyframes(navTop){
  0%{
    transform: rotate(90deg) translateX(0%);
  }
  50%{
    transform: rotate(90deg) translateX(-35%);
  }
  0%{
    transform: rotate(90deg) translateX(0%);
  }
}
.nav-top{
  cursor: pointer;
  width: 50px;
  position: fixed;
  bottom: 7.5%;
  right: 2.5%;
  transform: rotate(90deg);
  transition: all 0.5s;
  &:hover{
    animation: navTop 0.75s ease-in-out;
  }
  @include laptop{
    width: 35px
  }
}
