@import "../../styles/global";

nav{
  @extend .clipRight;
  animation: clipRight 0.35s ease-in-out 5.75s forwards;
  position: fixed;
  left: 5vh;
  top: 5vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  a{
    font-size: 0.9rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Ubuntu Mono';
    transition: all 0.25s;
    &:hover{
      opacity: 0.5;
    }
    &:nth-child(3), &:nth-child(4){
      padding-bottom: 30px
    }
  }
  .topLine, .bottomLine{
    width: 1px;
    height: 20vh;
    background-color: rgba($text, 0.5);
    position: absolute;
  }
  .topLine{
    top: 0
  }
  .bottomLine{
    bottom: 0
  }
}
@include keyframes(navTop){
  0%{
    transform: rotate(90deg) translateX(0%);
  }
  50%{
    transform: rotate(90deg) translateX(-35%);
  }
  0%{
    transform: rotate(90deg) translateX(0%);
  }
}
.nav-top{
  cursor: pointer;
  width: 50px;
  position: fixed;
  bottom: 7.5%;
  right: 2.5%;
  transform: rotate(90deg);
  transition: all 0.5s;
  &:hover{
    animation: navTop 0.75s ease-in-out;
  }
  @include laptop{
    width: 35px
  }
}
