@import "../../styles/global";


.landpage{
  position: relative;
  h1{
    font-weight: 300;
    &:first-child{
      @extend .clipDown;
      animation: clipDown 0.5s ease-in-out 3.25s forwards;
    }
    &:nth-child(2){
      @extend .clipDown;
      animation: clipDown 0.5s ease-in-out 3.75s forwards;
    }
  }
  h3{
    font-size: 1.25rem;
    &:nth-child(3){
      @extend .clipUp;
      animation: clipUp 0.5s ease-in-out 4.25s forwards;
      margin-top: 4%;
    }
    &:nth-child(4){
      @extend .clipUp;
      animation: clipUp 0.5s ease-in-out 4.75s forwards;
    }
  }
  span{
    @extend .gradientText
  }
  .explore-about, .explore-work{
    position: absolute;
    display: flex;
    h2{
      font-family: 'Ubuntu Mono';
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: 0.25rem;
      transition: opacity 0.25s;
      font-weight: bold;
      @extend .gradientText
    }
    div{
      cursor: pointer;
      background: $key1;
    }
    &:hover{
      h2{
        opacity: 0.5
      }
    }
  }
  @include laptop{
    h1{
      &:first-child{
        font-size: 2rem
      }
      &:nth-child(2){
        font-size: 1.75rem
      }
    }
    h3{
      font-size: 1rem
    }
  }
}

.landpagedone{
  h1, h3, .explore-work, .explore-about{
    -webkit-clip-path: unset!important;
    clip-path: unset!important;
    animation: none!important;
  }
}
