@import "../../styles/global";


.landpage{
  position: relative;
  h1{
    font-weight: 300;
    &:first-child{
      @extend .clipDown;
      animation: clipDown 0.5s ease-in-out 3.25s forwards;
      font-size: 7.5rem;
      letter-spacing: 0.5rem;
    }
    &:nth-child(2){
      @extend .clipDown;
      animation: clipDown 0.5s ease-in-out 3.75s forwards;
      font-size: 2.5rem;
    }
  }
  h3{
    font-size: 1.35rem;
    &:nth-child(3){
      @extend .clipUp;
      animation: clipUp 0.5s ease-in-out 4.25s forwards;
      margin-top: 5%;
    }
    &:nth-child(4){
      @extend .clipUp;
      animation: clipUp 0.5s ease-in-out 4.75s forwards;
    }
  }
  span{
    font-family: 'Ubuntu Mono';
    @extend .gradientText
  }
  .explore-about, .explore-work{
    position: absolute;
    display: flex;
    h2{
      font-family: 'Ubuntu Mono';
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: 0.35rem;
      transition: opacity 0.25s;
      font-weight: bold;
      @extend .gradientText
    }
    div{
      cursor: pointer;
      background: $key1;
    }
    &:hover{
      h2{
        opacity: 0.5
      }
    }
  }
  .explore-about{
    @extend .clipLeft;
    animation: clipLeft 0.5s ease-in-out 5.25s forwards;
    flex-direction: row;
    align-items: center;
    bottom: 40%;
    right: 0%;
    div{
      @include bgGrad(90deg, $key1, $key2);
      margin-left: 20px;
      width: 125px;
      height: 3px;
      transition: transform 0.3s;
    }
    &:hover div{
      transform: translateX(10%);
    }
  }
  .explore-work{
    @extend .clipUp;
    animation: clipUp 0.5s ease-in-out 5.35s forwards;
    flex-direction: column;
    align-items: center;
    bottom: 0%;
    right: 15%;
    div{
      @include bgGrad(180deg, $key1, $key2);
      margin-top: 20px;
      width: 3px;
      height: 125px;
      transition: transform 0.3s;
    }
    &:hover div{
      transform: translateY(10%);
    }
  }
}
