@import "../../styles/global";

.projectPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  padding: 7.5% 0%;
  .button{
    padding: 3%;
  }
  img{
    width: 100%;
    margin: 1.5% 0%;
  }
  h3{
    font-size: 1.15rem;
    @extend .gradientText;
    font-weight: 300;
    margin: -3% 0%;
    opacity: 0.75;
  }
  h1{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.25rem;
    margin: 1% 0% 2.5% 0%;
    letter-spacing: 0.15rem;
    position: relative;
  }
  p{
    font-size: 1.05rem;
    line-height: 1.75rem;
    margin: 2.5% 0%;
    color: lighten($text, 25%);
  }
  a{
    font-size: 1rem;
  }
  .block, .block-two, .block-two-center{
    width: 50%;
    margin: 5% 0%;
    b{
      font-weight: 400
    }
  }
  .block-two, .block-two-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    div, img{height: 100%}
    div{width: 42.5%}
    img{width: 50%; margin: 0%}
    h1{margin: 2.5% 0% 5% 0%}
    p{margin: 5% 0%}
  }
  .block-two-center{
    align-items: center;
  }
  .block-two{
    align-items: flex-start;
  }
  .block-three{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div, img{
      margin: 0%;
      height: 100%;
      width: 32%;
    }
    div{
      text-align: center;
      a{
        font-size: 0.85rem;
      }
      img{
        width: 100%;
      }
    }
  }
  .block-video{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    iframe{
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  @include laptop{
    .block, .block-two, .block-two-center{
      width: 60%!important;
    }
    h1{
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    h3{
      font-size: 1rem;
      line-height: 1.5rem;
    }
    p{
      font-size: 0.85rem;
      line-height: 1.5rem;
    }
    .button{
      font-size: 0.8rem;
    }
  }
}
