@import "../styles/mixins";

$bg: #f8f8f8;
$text: #1b1717;
$text2: #868180;
$key1: #cf9019;
$key2: #7A392C;

// $key1: #8e793e;
// $key2: #ad974f;

.gradientText{
  // @include bgGrad(90deg, $key1, $key2);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  display: inline-block;
  color: $key1;
  font-weight: 400;
}

.button{
  @extend .gradientText;
  overflow: hidden;
  position: relative;
  transition: all 0.35s;
  padding: 1% 2.5%;
  margin: 2.5% 0%;
  border: 2px solid $key1;
  // border-image: linear-gradient(to right, $key1, $key2);
  // -webkit-border-image: -webkit-linear-gradient(left, $key1, $key2);
  // border-image-slice: 1;
  // -webkit-border-image-slice: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  &:after{
    transition: all 0.5s;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    right: 0;
    height: 100%;
    // @include bgGrad(90deg, $key1, $key2);
    background: $key1;
    transform: translateY(-101%)
  }
  &:hover{
    animation: .5s ease-in-out flashText forwards;
    &:after{
      animation: .5s ease-in-out flash forwards
    }
  }
}


@include keyframes (flashText) {
  50%{
    -webkit-text-fill-color: $bg;
  }
}
@include keyframes (flash) {
  0%{
    transform: translateY(-101%)
  }
  50%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(100%)
  }
}
.underline{
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  &:before{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    transition: all 0.25s;
    background: darken($bg, 10%);
    width: 100%;
  }
  &:after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    transition: all 0.25s;
    @include bgGrad(90deg, $key1, $key2);
    z-index: 1;
    width: 0%;
  }
  &:hover:after{
    width: 100%;
    left: 0;
  }
}
.frame{
  position: relative;
  &:before,&:after{
    transition: all 0.35s;
  }
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    border: white solid 2px;
    // border-image: linear-gradient(to top, $key1 0%, $key2 100%);
    // border-image-slice: 1;
    // border-style: solid;
    // border-width: 2px;
    position: absolute;
    left: -15px;
    bottom: -15px;
    z-index: 5;
  }
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    border: $text2 solid 1px;
    // border-image: linear-gradient(to bottom, $key1 0%, $key2 100%);
    // border-image-slice: 1;
    // border-style: solid;
    // border-width: 1.5px;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: -1;
  }
  &:hover{
    &:before{
      left: -25px;
      bottom: -25px;
    }
    &:after{
      right: -25px;
      top: -25px;
    }
  }
}
.clipLeft{
  -webkit-clip-path: polygon(150% 0, 150% 0, 150% 150%, 150% 150%);
  clip-path: polygon(150% 0, 150% 0, 150% 150%, 150% 150%);
}
.clipRight{
  -webkit-clip-path: polygon(0 0, 0 0, 0 150%, 0% 150%);
  clip-path: polygon(0 0, 0 0, 0 150%, 0% 150%);
}
.clipUp{
  -webkit-clip-path: polygon(0 150%, 150% 150%, 150% 150%, 0 150%);
  clip-path: polygon(0 150%, 150% 150%, 150% 150%, 0 150%);
}
.clipDown{
  -webkit-clip-path: polygon(0 0, 150% 0, 150% 0, 0 0);
  clip-path: polygon(0 0, 150% 0, 150% 0, 0 0);
}

@keyframes clipLeft{
  from{
    -webkit-clip-path: polygon(150% 0, 150% 0, 150% 150%, 150% 150%);
    clip-path: polygon(150% 0, 150% 0, 150% 150%, 150% 150%);
  }
  to{
    -webkit-clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
    clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
  }
}
@keyframes clipRight{
  from{
    -webkit-clip-path: polygon(0 0, 0 0, 0 150%, 0% 150%);
    clip-path: polygon(0 0, 0 0, 0 150%, 0% 150%);
  }
  to{
    -webkit-clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
    clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
  }
}
@keyframes clipUp{
  from{
    -webkit-clip-path: polygon(0 150%, 150% 150%, 150% 150%, 0 150%);
    clip-path: polygon(0 150%, 150% 150%, 150% 150%, 0 150%);
  }
  to{
    -webkit-clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
    clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
  }
}
@keyframes clipDown{
  from{
    -webkit-clip-path: polygon(0 0, 150% 0, 150% 0, 0 0);
    clip-path: polygon(0 0, 150% 0, 150% 0, 0 0);
  }
  to{
    -webkit-clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
    clip-path: polygon(0 0, 150% 0%, 150% 150%, 0% 150%);
  }
}

.show{
  opacity: 1;
}
.hide{
  opacity: 0;
}

.fadeInBefore{
  transform: translateY(25%);
  opacity: 0;
}
.fadeRightBefore{
  transform: translateX(-25%);
  opacity: 0;
}
@keyframes fadeIn{
  from{
    transform: translateY(25%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeRight{
  from{
    transform: translateX(-25%);
    opacity: 0;
  }
  to{
    transform: translateX(0%);
    opacity: 1;
  }
}
.fadeInAfter{
  animation: fadeIn 0.5s ease-in-out forwards;
}
