@import "../styles/mixins";

$bg: #fefefe;
$text: #444444;
$key1: #6051de;
$key2: #58adf4;

.gradientText{
  @include bgGrad(90deg, $key1, $key2)
  font-weight: 400;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.underline{
  display: inline-block;
  position: relative;
  padding-bottom: 1px;
  &:before{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    transition: all 0.25s;
    @include bgGrad(145deg, lighten($key1, 5%), lighten($key2, 5%));
    z-index: -1;
    width: 0%;
  }
  &:hover:before{
    width: 100%;
    left: 0;
  }
}

.frame{
  position: relative;
  &:before,&:after{
    transition: all 0.35s;
  }
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid $key1;
    position: absolute;
    left: -15px;
    bottom: -15px;
  }
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid $key2;
    position: absolute;
    right: -15px;
    top: -15px;
  }
  &:hover{
    &:before{
      left: -25px;
      bottom: -25px;
    }
    &:after{
      right: -25px;
      top: -25px;
    }
  }
}
