@import "../../styles/global";

.about{
  min-height: 100vh;
  height: auto;
  align-items: flex-start;
  padding-bottom: 5%;
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 7.5%;
  }
  span{
    color: white!important;
  }
  .aboutContent{
    pointer-events: none;
    @extend .fadeInBefore;
    p, h2{
      color: lighten($text2, 10%)!important;
    }
    animation: fadeIn 0.75s ease-in-out 0.75s forwards;
    padding-top: 5%;
    margin-left: 32.5%;
    width: 47.5%;
    h1{
      font-size: 2.25rem;
      color: white;
      margin: 12.5% 0%;
      font-weight: 300;
    }
    p{
      font-size: 1.1rem;
      line-height: 2.25rem;
      margin-bottom: 5%;
    }
    .skills{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 2.5%;
      div{
        span{
          letter-spacing: 0.075rem;
          margin: 1.5%;
          display: inline-block;
          font-weight: 300;
          padding: 2.5%;
          font-size: 0.9rem;
          color: rgba(white, 0.9)!important;
          background-color: rgba($key2, 0.5);
        }
      }
      h2{
        margin: 0% 0% 2.5% 0%;
        font-size: 0.9rem;
      }
    }
    a{
      &:after, &:before{
        bottom: 7.5px!important;
      }
    }
  }
  .aboutImage{
    position: fixed;
    left: 17.5%;
    width: 20vw;
    height: 20vw;
    @extend .fadeInBefore;
    animation: fadeIn 0.65s ease-in-out 0.5s forwards;
    text-align: center;
    .img{
      img{
        @include box-shadow(5px, 7.5px, 15px, rgba($text, 0.15), false);
        max-width: 100%;
      }
      margin-bottom: 17.5%;
      @extend .frame;
    }
    p{
      margin-top: -2.5%;
    }
    a{
      color: $text2!important;
      transition: all 0.2s;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  @include laptop {
    h1{
      font-size:1.75rem!important;
      margin-bottom: 5%!important;
    }
    .aboutImage, .aboutContent{
      p{
        font-size: 0.9rem!important;
        line-height: 1.75rem!important;
      }
      a{
        &:after, &:before{
          bottom: 7.5px!important;
        }
      }
    }
    .skills span {
      font-size: 0.8rem!important;
    }
  }
}
