@import "../styles/global";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

*{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $text;
  letter-spacing: 0.05rem;
  cursor: default;
}
a{
  font-family: 'Ubuntu Mono';
  cursor: pointer;
  letter-spacing: 0.1rem!important;
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}
body{
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $key2;
  margin: 0%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: $bg;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

body::-webkit-scrollbar-thumb {
  background-color: #83848f
}
section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}
@include laptop {
  .container {
    max-width: 960px!important;
  }
}

h1,h2,h3,h4,h5,h6,p{
  margin: 1.5% auto;
}

.footer{
  @extend .clipLeft;
  animation: clipLeft 0.35s ease-in-out 6s forwards;
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .bottomLine{
    width: 1px;
    height: 15vh;
    background-color: $text2;
  }
  a *{
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: $text2;
    cursor: pointer;
    transition: all 0.2s;
    &:hover path{
      fill: $key1!important;
    }
  }
}
.projectPage{
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#load{
  background: $bg;
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  z-index: 100;
  transition: opacity 1s
}
.onLoad{
  opacity: 1;
}
.finishLoad{
  opacity: 0;
}

.notFound{
  box-sizing: border-box;
  height: 85vh;
  flex-direction: column;
  padding-top: 7.5%;
  h1{
    font-size: 4rem;
  }
  a{
    margin-left: -5%;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    padding: 5%;
    @extend .gradientText;
    @extend .button;
  }
}

.mobile{
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px;
  h1{
    @extend .gradientText;
    font-size: 30px;
    font-family: 'Inconsolata'
  }
  p{
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
  }
  div{
    width: 90%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a{
      margin: 7.5px;
      text-align: center;
      display: inline-block;
      @extend .gradientText;
      font-weight:bold;
    }
  }
}
