@import "../styles/global";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

*{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $text;
  letter-spacing: 0.05rem;
  cursor: default;
}
a{
  font-family: 'Inconsolata';
  cursor: pointer;
  letter-spacing: 0.1rem!important;
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}
body{
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: $bg;
  margin: 0%;
  overflow-x: hidden;
  border-image: linear-gradient(to top, $key1 0%, $key2 100%);
  border-image-slice: 1;
  border-style: solid;
  border-width: 25px;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
}

body::-webkit-scrollbar-thumb {
  background-color: #83848f
}
section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}
@include laptop {
  .container {
    max-width: 960px!important;
  }
}

h1,h2,h3,h4,h5,h6,p{
  margin: 1.5% auto;
}

.footer{
  margin-top: 5%;
  height: 12.5vh;
  .container{
    display: flex;
    justify-content: space-between;
  }
  span, span a{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.075rem;
  }
  span a{
    margin: 0% 7.5px;
    transition: opacity 0.25s;
    @extend .gradientText;
    font-weight: bold;
    @extend .underline;
  }
}

#load{
  background: $bg;
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  z-index: 100;
  transition: opacity 1s
}
.onLoad{
  opacity: 1;
}
.finishLoad{
  opacity: 0;
}

.notFound{
  box-sizing: border-box;
  height: 70vh;
  flex-direction: column;
  padding-top: 7.5%;
  h1{
    font-size: 4rem;
  }
  a{
    margin-left: -5%;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    @extend .gradientText;
    @extend .button;
  }
}
