@import "../../styles/global";

.work{
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  padding: 5% 0%;
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container2{
    @extend .fadeInBefore;
    animation: fadeIn 0.75s ease-in-out 0.5s forwards;
    display: flex;
    flex-direction: column;
    margin-right: 40%;
    padding-top: 5%;
  }
  .container-image{
    @extend .fadeInBefore;
    animation: fadeIn 0.75s ease-in-out 0.75s forwards;
    position: fixed;
    right: 15%;
    top: 15%;
    width: 27.5vw;
    height: 35vw;
    @extend .frame;
    div{
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      -webkit-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out;
    }
  }
  .proj-div2{
    margin: 7.5% 0%;
    position: relative;
    h1,h2,h3{
      cursor: pointer;
      transition: all 0.25s;
    }
    h1{
      @include bgGrad(90deg, $key1, rgba($key1, 0.25));
      display: inline-block;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.45rem;
      font-size: 6rem;
      font-weight: 500;
    }
    h2{
      color: rgba(white, 0.25);
      font-size: 3.5rem;
      letter-spacing: 0.15rem;
      position: absolute;
      top: -1rem;
      left: -4.5rem;
    }
    h3{
      color: $text3;
      font-size: 0.9rem;
      margin-left: 0.5rem;
    }
    opacity: 0.8;
    transition: all 0.25s;
    &:hover{
      opacity: 1;
      h3, h2{
        color: rgba(white, 0.75)
      }
    }
  }
  .proj-div{
    background-color: rgba($bg, 0.05);
    width: 45%;
    overflow: hidden;
    *{
      cursor: pointer!important;
    }
    transition: all 0.5s;
    @include box-shadow(0px, 7.5px, 40px, rgba($text, 0.15), false);
    display: inline-flex;
    position: relative;
    display: flex;
    flex-direction: column;
    &:nth-child(odd){
      margin-bottom: 10%;
    }
    &:nth-child(even) {
      margin-top: 10%;
    }
    .proj-see{
      opacity: 0;
      position: absolute;
      z-index: 5;
      right: 5%;
      top: 3.5%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      transition: opacity 0.35s;
      h2{
        color: white;
        font-family: 'Ubuntu Mono';
        font-size: 1.15rem;
        letter-spacing: 0.25rem;
      }
      img{
        width: 45px;
        transform: scaleX(-1);
        margin-bottom: 15%;
      }
    }
    .proj-thumbnail-container{
      width: 100%;
      height: 65vh;
      overflow: hidden;
      position: relative;
    }
    .proj-thumbnail, .proj-overlay{
      position: absolute;
      height: 101%;
      width: 100%;
    }
    .proj-overlay{
      @include bgGrad(135deg, $key1, $key2);
      // background-color: rgba($text, 0.95);
      transition: opacity 0.35s;
      z-index: 1;
      opacity: 0;
    }
    .proj-thumbnail{
      transition: all 0.5s;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .proj-info{
      padding: 5%;
      box-sizing: border-box;
      width: 100%;
      min-height: 22.5vh;
      height: auto;
      z-index: 5;
      h2, p{
        color: white;
      }
      h2{
        font-size: 1.75rem;
        letter-spacing: 0.15rem;
        margin-bottom: 5%;
        font-weight: 400;
      }
      p{
        margin: 1.5% 0%;
        text-align: left;
        color: $text3;
        &:nth-child(2){
          color: $key1;
          font-family: 'Ubuntu Mono';
        }
        font-size: 1rem;
        line-height: 1.75rem;
      }
      @include laptop{
        h2{font-size: 1.35rem}
        p{font-size: 0.85rem; line-height: 1.5rem}
      }
    }
    &:hover{
      .proj-thumbnail{
        transform: scale(1.15);
      }
      .proj-overlay, .proj-see{
        opacity: 0.97
      }
      .proj-info{
        h2, p{
          color: white
        }
      }
      @include box-shadow(0px, 7.5px, 40px, rgba($text, 0.25), false);
    }
  }
}
