@import "../../styles/global";

.work{
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  padding: 5% 0%;
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .proj-div{
    background-color: $bg;
    width: 45%;
    *{
      cursor: pointer!important;
    }
    transition: all 0.5s;
    @include box-shadow(0px, 7.5px, 40px, rgba($text, 0.1), false);
    display: inline-flex;
    position: relative;
    display: flex;
    flex-direction: column;
    &:nth-child(odd){
      margin-bottom: 10%;
    }
    &:nth-child(even) {
      margin-top: 10%;
    }
    .proj-see{
      opacity: 0;
      position: absolute;
      z-index: 5;
      right: 5%;
      top: 3.5%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      transition: opacity 0.35s;
      h2{
        color: white;
        font-family: 'Ubuntu Mono';
        font-size: 1.15rem;
        letter-spacing: 0.25rem;
      }
      img{
        width: 45px;
        transform: scaleX(-1);
        margin-bottom: 15%;
      }
    }
    .proj-thumbnail-container{
      width: 100%;
      height: 65vh;
      overflow: hidden;
      position: relative;
    }
    .proj-thumbnail, .proj-overlay{
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .proj-overlay{
      // @include bgGrad(135deg, $key1, $key2);
      background-color: rgba($text, 0.9);
      transition: opacity 0.35s;
      z-index: 1;
      opacity: 0;
    }
    .proj-thumbnail{
      transition: all 0.5s;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .proj-info{
      padding: 5%;
      box-sizing: border-box;
      width: 100%;
      min-height: 22.5vh;
      height: auto;
      z-index: 5;
      h2, p{
        transition: color 0.35s;
      }
      h2{
        font-size: 1.75rem;
        letter-spacing: 0.15rem;
        margin-bottom: 5%;
        font-weight: 400;
      }
      p{
        margin: 1.5% 0%;
        text-align: left;
        &:nth-child(2){
          color: rgba($text, 0.6);
          font-family: 'Ubuntu Mono';
        }
        font-size: 1rem;
        line-height: 1.75rem;
      }
      @include laptop{
        h2{font-size: 1.35rem}
        p{font-size: 0.85rem; line-height: 1.5rem}
      }
    }
    &:hover{
      .proj-thumbnail{
        transform: scale(1.15);
      }
      .proj-overlay, .proj-see{
        opacity: 0.97
      }
      .proj-info{
        h2, p{
          color: white
        }
      }
      @include box-shadow(0px, 7.5px, 40px, rgba($text, 0.25), false);
    }
  }
}
